.Favourites {
  /* sticky could also work, it's hard to know from the picture */
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  background: white;
}

.Favourites-container {
  background-color: #23965f1a;
  text-align: left;
}

.Favourites-title {
  margin: 0;
  padding: 10px 20px;
  color: #23965f;
}
