.SearchBar-bar {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.SearchBar-input {
  flex: 1;
  margin-right: 20px;
  padding: 15px 10px;
  font-size: large;
  border: 1px solid #aaaaaa;
  border-radius: 2.5px;
}

.SearchBar-button {
  background: #23965f;
  border: none;
  border-radius: 2.5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 3px -2px #aaaaaa;
}

.SearchBar-button:active {
  box-shadow: none;
}

.SearchBar-button > i.icon-search {
  color: white;
  font-size: 3em;
}
